<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Loshitsa &ndash; Driving a electric car</title>
    <link rel="stylesheet" data-th-href="@{/css/style-loshitski.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap">
</head>
<body>
<main>
    <h1>Driving a electric car in Loshitsa park</h1>
    <div class="container">
        <p>Last Saturday at midday, we went to Loshitsa Park, the biggest and most beautiful park in Minsk.</p>
        <img data-th-src="@{/images/loshitski-driving-on-an-electric-car/park.jpg}" alt="park">
        <div class="post">
            <img data-th-src="@{/images/loshitski-driving-on-an-electric-car/bicycle-rent.jpg}" alt="bicycle-rent">
            <p>We wanted to rent bicycles, but there weren’t any that we liked.</p>
        </div>
        <div class="post">
            <img data-th-src="@{/images/loshitski-driving-on-an-electric-car/an-electric-vehicles.jpg}"
                 alt="an-electric-vehicles">
            <p>Instead, we found a place that rented kids’ vehicles, and it had adult models too. They were like small
                electric cars—fast and fun to drive.</p>
        </div>
        <div class="post">
            <img data-th-src="@{/images/loshitski-driving-on-an-electric-car/bicycle-path.jpg}" alt="bicycle-path">
            <p>We rented the vehicle for one hour. After the couple before us returned it, we got in and started our
                ride.<br>
            We drove on all the park paths, and we really enjoyed it.</p>
        </div>
        <div class="post">
            <img data-th-src="@{/images/loshitski-driving-on-an-electric-car/picnic.jpg}" alt="picnic">
            <p>At home, I made sandwiches with cheese, pepperoni, and cucumber. We sat on a blanket in the grass and had
                lunch with the sandwiches and some cola.</p>
        </div>
    </div>
</main>
</body>
</html>