<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Zerno &ndash; the art cafe</title>
    <link rel="stylesheet" data-th-href="@{/css/common-style.css}">
    <link rel="stylesheet" data-th-href="@{/css/zerno.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap">
</head>
<body>
<main>
    <h1>The cafe Zerno is located near the Church st. Roch and the Palace of Art. </h1>
    <div class="container">
        <div class="post">
            <img data-th-src="@{/images/zerno/cafe.jpg}" alt="cafe">
            <p>The stair is coming through the bright color bush with many flowers. It’ sunny day we decided have some a sunny joy.</p>
        </div>
        <div class="post">
            <img data-th-src="@{/images/zerno/stair.jpg}" alt="stair">
            <p>The menu has very interesting things. I ordered  a drink crema. It is a lemonade with ice cream in a beauty cocktail glass. And a piece of the awesome cherry pie.</p>
        </div>
        <div class="post">
            <img data-th-src="@{/images/zerno/interior.jpg}" alt="interior">
            <p>Inside cafe are many picture from the Art Gallery on the wall. But we choosed precisely the summer rotang table outdoor.</p>
        </div>
    </div>
</main>
</body>
</html>