<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZOO &dash; First Part</title>
</head>
<body>
<header></header>
<main>
    <h1>The Zoo That Felt Like a Dream</h1>
    <p>We saw a big board with a map of the Zoo.</p>
    <img data-th-src="@{/images/zoo-part-1/1-map.jpg}">
    <p>The zoo has two parts.</p>
    <p>The first part was where we were at that moment. It names a Fairy World.</p>
    <img data-th-src="@{/images/zoo-part-1/2-fairy-world}">
    <p>It had many decorations like country houses and fences and sculptures of characters from fairy tales.
        All were made from wood.</p>
    <img data-th-src="@{/images/zoo-part-1/3-animal-house}">
    <p>I saw two powerfully bulls with huge horns.
        They were strong, but calm.
        I didn’t expect them to look so close. Only a moat separated us.</p>
    <img data-th-src="@{/images/zoo-part-1/4-bull}" alt="">
    <p>We saw a tall hairy donkey. He ate grass. I was surprised how big a donkey might be</p>
    <img data-th-src="@{/images/zoo-part-1/5-donkey}">
    <p>Standing in front of us were Llamas. They were beautiful with brown color on the back.
        The llama stood by the fence and was asking for food.</p>
    <img data-th-src="@{/images/zoo-part-1/6-llama}">
    <p>I couldn’t believe how arrogant camels were. They looked at us so haughty. The camel had two humps.</p>
    <img data-th-src="@{/images/zoo-part-1/7-camel}">
    <p>One of my favourites was when we went to the fairy castle. It was surrounded by a water canal.
        There were many fairy-tale characters from wood. In the canal were ducks and a swan.</p>
    <img data-th-src="@{/images/zoo-part-1/8-canal}">
    <img data-th-src="@{/images/zoo-part-1/9-fairy-castle}">
    <img data-th-src="@{/images/zoo-part-1/10-castle}">
    <p>We went into the castle, and inside it felt like a spooky, dark, mystic place.
        There were bats, small monkeys, and other tiny animals living inside.
        The decorations reminded me of an Indiana Jones movie - old statues, jungle vines and jungle animals.</p>
    <img data-th-src="@{/images/zoo-part-1/11-inside-castle}">
    <img data-th-src="@{/images/zoo-part-1/11-inside-castle-little}">
    <img data-th-src="@{/images/zoo-part-1/12-inside-castle-bat}">
    <p>By the castle wall, there were many birds. I like birds and watched them with great joy.
        I also saw a great wild cat. It was a very graceful animal.</p>
    <img data-th-src="@{/images/zoo-part-1/13-bird-pheasant}">
    <img data-th-src="@{/images/zoo-part-1/14-cat}">
    <img data-th-src="@{/images/zoo-part-1/15-cock}">
    <img data-th-src="@{/images/zoo-part-1/16-albatross}">
    <p>Our visit to the first part of the zoo had ended.
        We sat in the car and drove to the second part of the zoo.</p>
    <img data-th-src="@{/images/zoo-part-1/17-goodbye}">
</main>
<footer></footer>
</body>
</html>