
.container {
    width: 100vw;
}

.body {

}

main {
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr) 1fr;
    grid-row-gap: 1em;

}
main img, p, h1 {
    grid-column: 2 / span 4;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
}